[Unit]
Description=Zipbot
After=network.target
StartLimitIntervalSec=0

[Service]
EnvironmentFile=/opt/zipbot/.env
Type=simple
Restart=always
RestartSec=1
User=zipbot
WorkingDirectory=/opt/zipbot
ExecStart=/home/zipbot/.bun/bin/bun start

[Install]
WantedBy=multi-user.target
